/* //exams page */

.bigheading {
    padding: 1%;
    background-color: #28242c;
    color: white;
    border-radius: 20%;
}

.session {
    opacity: 0.7;
    text-decoration: underline;
}
.examcard{
    border: none !important;

    width: 70%;
}
.examcard img{
    border-radius: 10%;

}
.cardtext{
    padding-top: 2%;
    font-size: 150%;
    }


    @media only screen and (max-width: 768px) {
.cardtext{
    padding-top: 10%;
    font-size: 120%;
    }
    }